{% embed "@templates/site-container.twig"
  with {
  language_select: pattern_preview('language_select'),
  menu_top: pattern_preview('menu', {}, 'top'),
  footer_menu: pattern_preview('menu', {}, 'footer'),
} %}
  {% set image %}
    <img src="./images/hero.png" alt="">
  {% endset %}
  {% set button %}
    {% include '@atoms/button/button.twig' with {variant: 'rounded', text: 'Online Demo' } %}
  {% endset %}
  {% set button_second %}
    {% include '@atoms/button/button.twig' with {variant: 'rounded', text: 'Instraction' } %}
  {% endset %}
  {% set button_third %}
    {% include '@atoms/button/button.twig' with {variant: 'rounded', text: 'Quick Setup' } %}
  {% endset %}
  {% block content %}
    {% embed "@organisms/section/section.twig" with { columns: 1 } %}
      {% block column_1 %}
        {% include '@molecules/hero/hero.twig' with {
          headline: 'A design sytem for rapid pattern development. You will love to use.',
          image: image,
          sub_headline: 'Get started',
          button: button,
          button_second: button_second,
          button_third: button_third
        } %}
      {% endblock %}
    {% endembed %}
    {% set header %}
      {% embed "@atoms/rich-text/rich-text.twig" %}
        {% block text %}
          <h2 class="h3">Define your components</h2>
          <p>Fields and settings are editable with knobs <br>make it easy to see your components in every state.</p>
        {% endblock %}
      {% endembed %}
    {% endset %}
    {% embed "@organisms/section/section.twig" with { columns: 2, bg: 'purple-light', header: header, display_header_region: true, padding_top: 'default' } %}
      {% block column_1 %}
        <img src="./images/hero.png" alt="">
      {% endblock %}
      {% block column_2 %}
        {% include "@molecules/code-block/code-block.twig" %}
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}
