{#
  Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}
{% set inner_attributes = create_attribute() %}
{% set size = size|default('default') %}
{% set active_behaviour = active_behaviour|default('squeeze') %}

{#
  Attributes
#}
{% set attributes = attributes.addClass([
  'tham',
  pattern_configuration('hamburger', '', 'size')[size],
  pattern_configuration('hamburger', '', 'active_behaviour')[active_behaviour],
]|sort |join(' ')| trim) %}

{% set inner_attributes = inner_attributes.addClass([
  'tham-inner',
  pattern_configuration('hamburger', '', 'color'),
]|sort |join(' ')| trim) %}

{#
Template
#}
<div {{ attributes }} @click="menuIsOpen = !menuIsOpen" :class="{ 'tham-active': menuIsOpen }">
  <div class="tham-box">
    <div {{ inner_attributes }}></div>
  </div>
</div>
