{#
Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}
{% set size = size|default('default') %}
{% set active_behaviour = active_behaviour|default('squeeze') %}
{% set color = color_classes|default('bg-black') %}

{#
Classes
#}
{% set classes = [
  'tham',
  pattern_configuration('hamburger', '', 'size')[size],
  pattern_configuration('hamburger', '', 'active_behaviour')[active_behaviour],
] %}

{% set color_classes = [
  'tham-inner',
  color_classes
]| sort | join(' ') | trim %}

{#
Template
#}
<div {{ attributes.addClass(classes | sort | join(' ') | trim) }} @click="menuIsOpen = !menuIsOpen" :class="{ 'tham-active': menuIsOpen }">
  <div class="tham-box">
    <div class="{{ color_classes }}"></div>
  </div>
</div>
