.pl-container {
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    max-width: 900px;
}

.pl-h1 {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 60px;
    font-weight: bold;
}

.pl-h2 {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
}

.pl-h3 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.pl-link {
    text-decoration: underline;
    color: #4299e1;
}

.pl-table {
    position: relative;
    width: 100%;
    text-align: left;
    margin-top: 20px;
}

.pl-mb-s {
    margin-bottom: 20px;
}

.pl-mb {
    margin-bottom: 40px;
}

.pl-mb-l {
    margin-bottom: 40px;
}

.pl-mt-s {
    margin-top: 20px;
}

.pl-mt {
    margin-top: 40px;
}

.pl-mb-l {
    margin-bottom: 60px;
}

hr.pl-hr {
    margin-top: 60px;
    margin-bottom: 60px;
}
hr.pl-hr-s {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pl-table tbody tr {
    border-bottom: 1px dashed black;
}

.pl-table th {
    color: #4a5568;
    background-color: #f7fafc;
    padding: 20px;
}

.pl-table td {
    padding: 20px;
}

.pl-code {
    background-color: #000000;
    padding: 10px;
    color: white;
}

.pl-pb-10 {
    padding-bottom: 20px;
}

.pl-text-sm {
    font-size: 12px;
}

.pl-w-4 {
    width: 4rem;
}

.pl-hide {
    display: none;
}

.pl-tab {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #38b2ac;
    border-radius: 8px;
    font-weight: bold;
}

.pl-tab-active {
    background-color: #38b2ac;
    color: #fffaf0;
}
