{#
/**
 * @file
 * header
 *
 * Available variables for header:
 *  - header.variable_name [variable_type]: Description of the variable. Example below.
 *  - header.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<nav class="fixed w-full bg-white shadow" role="navigation">
  <div class="max-w-container mx-auto p-4 flex flex-wrap items-center md:flex-no-wrap">
    <div class="mr-4 md:mr-8">
      <img src="https://picsum.photos/155/43" alt="">
    </div>
    <div class="w-full justify-center hidden lg:visible md:w-auto md:flex-grow md:flex md:items-center">
      {% block menu %}
        {{ menu }}
      {% endblock %}
    </div>
    <a href="#" class="hidden md:flex md:visible text-white font-sans font-normal bg-blue">089 2000 566 00</a>
    <div class="ml-auto md:hidden">
      <button class="flex items-center px-3 py-2 border rounded" type="button">
        <svg class="h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
        </svg>
      </button>
    </div>
  </div>
</nav>
