{#
/**
 * @file
 * logo
 *
 * See logo.wingsuit.yaml for documentation.
 */
#}

{# TEMPLATE #}
<a class="navbar-brand" href="{{ path('<front>') }}">
  <img src="{{ file_url('ws-assets://images/logo.svg') }}" alt="Brand Logo" style="width: 100%; max-width: 240px">
</a>
