@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  height: 100%;
}

body {
  height: 100%;
}

img {
  width: 100%;
}

.background-cover img {
  @apply w-full h-full object-cover;
}
