{% embed "@organisms/container/container.twig" with { padding_top: 'small' } %}
  {% block content %}
  <div class="text-center w-50 m-auto text-gray-dark">
    {% include "@atoms/headline/headline.twig" with {
      content: headline, element: "h1"
    } only %}
  </div>
  <div class="row pt-5">
    <div class="col-12 col-md-6 pb-5 pb-md-0">
      {% block image %}
        {{ image }}
      {% endblock %}
    </div>
    <div class="col-12 col-md-6 pl-md-4">
      <div class="text-base mb-5 text-gray-dark font-sans">
        {% block text %}
          {{ text }}
        {% endblock %}
      </div>
      <div>
        {% block button %}
          {{ button }}
        {% endblock %}
      </div>
    </div>
  </div>
  <div class="d-block d-md-flex pt-10">
    {% block more %}
      {{ more }}
    {% endblock %}
  </div>
  {% endblock %}
{% endembed %}

