{#
/**
 * @file Spacing!
 * Documenting Spacing Examples from Tailwind.
 *
 * @see https://tailwindcss.com/docs/customizing-spacing
 */
#}
{% import "@ws-demo/macros/properties.twig" as properties %}
{% import "@ws-demo/macros/config.twig" as config %}

{% embed '@ws-demo/page.twig' with
  {
    "title": "Customizing Spacing",
    "intro": "The <code>theme.spacing</code> section of your <code>tailwind.config.js</code> file allows you to override Tailwind's default spacing/sizing scale.",
    "doc_link": "https://tailwindcss.com/docs/customizing-spacing"
  } %}
  {% block content %}
    <section class="ws-section">
      {{ properties.table("Padding", "https://tailwindcss.com/docs/padding", "Padding", "p", tailwind.theme.padding) }}

      {{ config.dipslay('padding', tailwind.theme.padding) }}
    </section>
    <hr class="ws-doc-block-seperator">
    <section class="ws-section">
      {{ properties.table("Margin", "https://tailwindcss.com/docs/margin", "Margin", "m", tailwind.theme.margin) }}
    </section>
  {% endblock %}


{% endembed %}
