{#
/**
 * @file
 * hero
 *
 * See hero.wingsuit.yaml for documentation.
 */
#}

{# TEMPLATE #}

<section class="pt-28">
  {% embed "@organisms/container/container.twig" with {button: button, text: text, padding_bottom: 'small'} only %}
    {% block content %}
      {% include "@atoms/rich-text/rich-text.twig" with {text: text, variant: 'large' } only %}
      <div class="flex space-x-4 py-8 lg:py-14">
        {{ button }}
      </div>
    {% endblock %}
  {% endembed %}
  {% embed "@organisms/container/container.twig" with {image:image, width: 'large'} only %}
    {% block content %}
      <div class="bg-video-500 p-4 mb-16">
      {{ image }}
      </div>
    {% endblock %}
  {% endembed %}

</section>

