{# SETTINGS #}
{% set header_classes = ([
  'navbar-light bg-light',
  variant == 'fixed'?'position-fixed h-18 w-100',
  variant == 'sticky'?'position-sticky',
]) | sort | join(' ') | trim %}

{# TEMPLATE #}
<header class="{{ header_classes }}">
  <nav class="navbar container navbar-expand-lg">
    {% include "@atoms/logo/logo.twig" only %}
    <button class="navbar-toggler btn-link" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      {% include "@atoms/hamburger/hamburger.twig" only %}
    </button>
    <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarSupportedContent">
      {{ menu }}
      <div>
        {{ button }}
      </div>
    </div>
  </nav>
</header>
