@font-face {
  font-family: 'SourceSerif';
  src: local('Source Serif'),
    url('fonts/source-sans/SourceSerifPro-Regular.woff2') format('woff2'),
    url('fonts/source-sans/SourceSerifPro-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: auto;
}

@font-face {
  font-family: 'SourceSerif';
  src: local('Source Serif'),
    url('fonts/source-sans/SourceSerifPro-Bold.woff') format('woff'),
    url('fonts/source-sans/SourceSerifPro-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: auto;
}

body {
  font-family: 'SourceSans';
  color: #4a4a4a;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

