{#
/**
 * @file
 * basic
 *
 * See basic.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}

{% set content %}{% block content %}{{ content }}{% endblock %}{% endset %}
{% set headline %}{% block headline %}{{ headline }}{% endblock %}{% endset %}

{#
  Template
#}
{% embed "@organisms/container/container.twig" with { padding_top: 'default', 'width': width } %}
  {% block content %}
    <div class="text-gray-dark">
      {% embed "@atoms/rich-text/rich-text.twig" with {
        headline: headline,
        content: content
      } only %}
        {% block text %}
          <h1>{{ headline }}</h1>
          <div>{{ content }}</div>
        {% endblock %}
      {% endembed %}
    </div>
  {% endblock %}
{% endembed %}
