{#
/**
 * @file
 * Theme override for a form element label.
 *
 * Available variables:
 * - title: The label's text.
 * - title_display: Elements title_display setting.
 * - required: An indicator for whether the associated form element is required.
 * - attributes: A list of HTML attributes for the label.
 *
 * @see template_preprocess_form_element_label()
 */
#}

{# FORM-LABEL CLASSES #}
{%
  set classes = [
    title_display == 'after' ? 'option',
    title_display == 'invisible' ? 'visually-hidden',
    required ? 'js-form-required',
    required ? 'form-required',
    'pr-4',
  ]
%}

{# TEMPLATE #}
{% if title is not empty or required -%}
  <span{{ attributes.addClass(classes) }}>{{ title }}</span>
{%- endif %}
