@font-face {
  font-family: 'SourceSans';
  src: url('fonts/source-sans/SourceSerifPro-Regular.woff') format('woff'),
    url('fonts/source-sans/SourceSerifPro-Regular.woff2') format('woff2');
  font-display: auto;
  font-weight: 400;
}

body {
  font-family: 'SourceSans';
}

@tailwind base;

@tailwind components;

@tailwind utilities;

