{# This pattern can be embedded directly by Drupal.
 # Overwrite the blocks and be happy.
 #}
{% embed '@organisms/header/header.twig' %}
  {% block menu %}
    {% include '@molecules/menu/menu.twig' with {items: primary_menu.items, variant: 'primary'} %}
  {% endblock %}
{% endembed %}

<main class="main-content w-full py-10 mt-20">
  {% block content %}
    <div class="max-w-container px-4 m-auto">
      <div class="text-center w-1/2 m-auto pb-8 text-gray-dark">{{ "Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups." }}</div>
      <div class="block md:flex pt-10">
        <div class="w-full md:w-1/3 md:pr-2 mb-5">
          {{ pattern_preview('card', 'default') }}
        </div>
        <div class="w-full md:w-1/3 md:px-2 mb-5">
          {{ pattern_preview('card', 'default') }}
        </div>
        <div class="w-full md:w-1/3 md:pl-2 mb-5">
          {{ pattern_preview('card', 'default') }}
        </div>
      </div>
    </div>
  {% endblock %}
</main>

{% embed '@organisms/footer/footer.twig' %}
  {% block footer_menu %}
    {% include '@molecules/menu/menu.twig' with {items: wingsuit.footer_menu.items, variant: 'footer'} %}
  {% endblock %}
{% endembed %}
