{#
/**
 * @file
 * Grid component
 *
 * See component.wingsuit.yml for usage.
 */
#}
{#
  Defaults
#}
{% set gutter = gutter|default('default') %}
{% set vertical_center = vertical_center|default(false) %}
{% set equal_height = vertical_center == true ? true: equal_height %}
{% set reverse = reverse|default(false) %}
{% set variant = variant|default('1_column') %}

{#
  Internal logic
#}
{% set columns_ary = variant|split('_') %}
{% set columns = columns_ary[0]|number_format %}
{% set grid_layout = grid_layout|default(columns ~ '_equal') %}
{% set gutter_classes = pattern_configuration('grid', variant, 'gutter')[gutter] %}
{% set layout_classes = pattern_configuration('grid', variant, 'grid_layout')[grid_layout] %}

{% set classes = ([
  layout_classes,
  gutter_classes,
]) | sort | join(' ') | trim %}

{% set attributes = attributes|default(create_attribute()).addClass(classes) %}

{#
  Template
#}
<div {{ attributes }}>
  {% block cells %}
    {% for cell_counter, cell in cells %}
      {% block cell_outer %}
        {% set column_name = 'column_' ~ (cell_counter + 1) %}
        {% set cell_classes = [
          flip_mobile == '1' and cell_counter == '1' ? 'row-start-1 lg:row-start-auto',
          equal_height == true ? 'flex flex-col',
          vertical_center == true ? 'justify-center',
          reverse == true and cell_counter == '1' ? 'order-first',
        ]
        %}
        {% set cell_attributes = region_attributes[column_name]|default(create_attribute()).addClass(cell_classes | sort) %}

        <div{{ cell_attributes }}>
          {% block cell_inner %}
            {{ cell }}
          {% endblock %}
        </div>
      {% endblock %}
    {%- endfor -%}
  {% endblock %}
</div>
