{#
/**
 * @file
 * logo
 *
 * See logo.wingsuit.yaml for documentation.
 */
#}

{# TEMPLATE #}
<a class="navbar-brand" href="{{ path('<front>') }}">
  <img src="{{ file_url('ws-assets://images/logo.svg') }}" alt="Brand Logo" style="max-width: 60px">
  <span class="ml-3">BRAND EXAMPLE</span>
</a>
