{#
/**
 * @file
 * rich-text
 * with the rich-text we can use to creat different types of text as you can see in storybook.
 * Ex. headlines, list and more.
 * See rich-text.wingsuit.yaml for documentation.
 */
#}

{#
Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}
{#
Attributes
#}
{% set attributes = attributes.addClass([
  'dark:prose-dark max-w-none',
  pattern_configuration('rich_text', variant, 'classes'),
  'layout-builder-block',
]) %}
{{ attributes }}
{#
TEMPLATE
#}
<div {{ attributes }}>
  {% block text %}
    {{ text }}
  {% endblock %}
</div>
