{% embed '@wingsuit/_demo-block.twig' with {
  "title": svg_demo_block.title,
  "intor": svg_demo_block.intro
} %}
  {% block content %}
    <section class="pl-section">
      <h2 class="pl-h2">Icons</h2>
      <table  class="pl-table">
        <thead>
        <tr>
          <th>Class</th>
          <th colspan="2">Properties</th>
        </tr>
        </thead>
        {% for svgIcon in svgs %}
          <tr>
            <td>
              <h3>{{ svgIcon }}</h3>
            </td>
            <td>
              {% include "@atoms/svg/_svg--icon.twig" with {
                icon: svgIcon,
                size: 'pl-w-4'
              } %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </section>
  {% endblock %}
{% endembed %}
