<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    {% for item in items %}
      <li class="page-item {% if (item.in_active_trail) %}active{% endif %}" aria-current="page">
        <a class="page-link" href="{{ item.link }}">{{ item.title }}<span class="sr-only">(current)</span></a>
      </li>
    {% endfor %}
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
