#heading {
  text-align: center;
  padding: 90px 0 90px;
  background-color: #E6FFFA;
}

.sb-title {
  font-weight: 800;
  width: 500px;
}

.sb-tagline__subline {
  margin-top:20px;
  font-size: 24px;
  line-height: 34px;
}
.sb-tagline {
  padding: 34px 20px 34px 20px;
  font-size: 64px;
  line-height: 70px;
}

.heart {
  color: red;
}

@media only screen and (max-width: 980px) {
  #heading {
    padding: 140px 0 140px;
  }

  .sb-tagline {
    font-size: 34px;
    line-height: 150%;
  }
}

@media only screen and (max-width: 870px) {
  #heading {
    padding: 120px 0 120px;
  }
}

@media only screen and (max-width: 540px) {
  #heading {
    padding: 90px 0 90px;
  }

  .sb-title {
    width: 80%;
  }
}
