{#
/**
 * @file
 * banner
 *
 * See banner.wingsuit.yaml for documentation.
 */
#}
{# SETTINGS #}
{% set position_classes ={
  'top_left': '',
  'top_center': 'text-center justify-center',
  'top_right': 'text-right justify-end',
  'center_left': 'items-center',
  'center_center': 'text-center items-center justify-center',
  'center_right': 'text-right items-center justify-end',
  'bottom_left': 'items-end',
  'bottom_center': 'text-center items-end justify-center',
  'bottom_right': 'text-right items-end justify-end',
} %}

{% set teaser %}{{- teaser -}}{% endset %}

{# TEMPLATES #}
<div class="relative">
  {{ image }}
  <div class="absolute top-0 left-0 w-full h-full flex">
    {% embed "@organisms/container/container.twig" with { teaser: teaser, headline: headline, classes: 'flex-1 flex ' ~ position_classes[position|default('center_center')]}  %}
      {% block content %}
        <div class="p-6 dark:text-white">
          {% include "@atoms/headline/headline.twig" with {headline: headline, variant: 'h2'} %}
          {% if teaser is not empty %}
            <div class="text-xl">
              {{ teaser }}
            </div>
          {% endif %}
        </div>
      {% endblock %}
    {% endembed %}
  </div>
</div>
