{#
/**
 * @file
 * accordion-item
 *
 * See accordion-item.wingsuit.yaml for documentation.
 */
#}
{# SETTINGS #}
{% set id = uuid() %}

{# TEMPLATE #}
<div class="tab w-full overflow-hidden border-t" data-children-count="1">
  <input class="absolute opacity-0 " id="{{ id }}" type="checkbox" name="tabs">
  <label class="block p-5 border-l-2 leading-normal text-xl cursor-pointer" for="{{ id }}">{{ label }}</label>
  <div class="tab-content overflow-hidden border-l-2 border-teal-500 leading-normal">
    <div class="p-5">{{ content }}</div>
  </div>
</div>

