{#
/**
 * @file
 * Theme override for a 'checkboxes' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered checkboxes.
 *
 * @see template_preprocess_checkboxes()
 */
#}


{#
Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}

{#
Classes
#}
{% set classes = ([
  pattern_configuration('form_checkboxes', variant, 'classes')['wrapper']
] | sort | join(' ') | trim )%}

<div{{ attributes }}>{{ children }}</div>
