{#
/**
 * @file
 * Theme override for a 'radios' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered radios.
 *
 * @see template_preprocess_radios()
 */
#}

{#
Defaults
#}
{% set attributes = attributes|default(create_attribute()) %}
{#
Attributes
#}
{% set attributes = attributes.addClass([
  pattern_configuration('form_radios', variant, 'classes')['wrapper']
]) %}
{#
Templates
#}
<div{{ attributes }}>{{ children }}</div>
