{#
/**
 * @file
 * logo
 *
 * See logo.wingsuit.yaml for documentation.
 */
#}

{# TEMPLATE #}
<a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900" href="{{ path('<front>') }}">
  <img src="{{ file_url('ws-assets://images/logo.svg') }}" alt="Brand Logo" class="w-14">
  <span class="ml-3 text-l">BRAND EXAMPLE</span>
</a>
