{#
/**
 * @file
 * logo
 *
 * See logo.wingsuit.yaml for documentation.
 */
#}

{# TEMPLATE #}
<a class="lg:pr-8 block" href="{{ path('<front>') }}">
  <img src="{{ file_url('ws-assets://images/logo.svg') }}" alt="Brand Logo" class="w-full max-w-7xl">
</a>
