<div class="relative">
  <div class="flex items-center cursor-pointer" @click="languageSwitcherOpen = !languageSwitcherOpen">
    <div class="mr-2 uppercase dark:text-white">{{ language }}</div>
    <div class="mr-2.5">
      {% include "@atoms/svg/_svg--icon.twig" with {
        icon: 'globe',
        size: 'w-5 h-5',
      } only %}
    </div>
    {% include "@atoms/svg/_svg--icon.twig" with {
      icon: 'arrow',
      fill_color: 'text-yellow-500',
      size: 'w-2.5 h-2.5',
    } only %}
  </div>
  <ul class="absolute left-1/2 p-4 top-10 bg-gray-600 box-shadow rounded transform -translate-x-1/2 hidden" :class="{'block': languageSwitcherOpen, 'hidden': !languageSwitcherOpen}">
    {%- for key, item in links -%}
      {%- if item.link and item.langcode != language -%}
        <li class="last:mb-0 mb-4 group">
          <span class="language-select-icon__text">
            <a href="{{ item.path }}" class="flex items-center dark:text-white group-hover:text-yellow-500 transition-colors">
              <span class="mr-4">
                {% include "@atoms/svg/_svg--icon.twig" with {
                  icon: item.langcode,
                  size: 'w-5 h-5',
                } only %}
              </span>
              <span>{{ item.text }}</span>
            </a>
          </span>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</div>
