{% embed "@organisms/container/container.twig" with { padding_top: 'small' } %}
  {% block content %}
  <div class="text-center w-1/2 m-auto text-gray-dark">
    {% include "@atoms/headline/headline.twig" with {
      content: headline,
      variant: 'h1'
    } only %}
  </div>
  <div class="block md:flex group hover:no-underline pt-10">
    <div class="w-full md:w-1/2 pb-8">
      {% block image %}
        {{ image }}
      {% endblock %}
    </div>
    <div class="w-full md:w-1/2 md:pl-4">
      <div class="text-base mb-10 text-gray-dark font-sans">
        {% block text %}
          {{ text }}
        {% endblock %}
      </div>
      <div>
        {% block button %}
          {{ button }}
        {% endblock %}
      </div>
    </div>
  </div>
  <div class="block md:flex pt-10">
    {% block more %}
      {{ more }}
    {% endblock %}
  </div>
  {% endblock %}
{% endembed %}

