<footer>
  {% embed "@organisms/container/container.twig" with {
    bg: 'purple-dark',
    padding_top: 'small',
    padding_bottom: 'small',
    footer_menu: footer_menu
  } only %}
    {% block content %}
      <div class="flex">
        <div>
          {{ pattern('logo') }}
        <div></div>
        </div>
        <div>{{ footer_menu }}</div>
      </div>
    {% endblock %}
  {% endembed %}
</footer>
