{% embed "@organisms/container/container.twig" with { padding_top: 'default', 'width': 'small' } %}
  {% block content %}
    <div class="text-gray-dark">
      {% include "@atoms/headline/headline.twig" with {
        headline: headline,
        variant: 'h1'
      } only %}
    </div>
    <div class="pt-8">
      {% block lead %}
        {{ lead }}
      {% endblock %}
    </div>
  {% endblock %}
{% endembed %}
{% embed "@organisms/container/container.twig" with { padding_top: 'default', width: 'default', image: image } only %}
  {% block content %}
    {% block image %}
      {{ image }}
    {% endblock %}
  {% endblock %}
{% endembed %}
{% embed "@organisms/container/container.twig" with { padding_top: 'default', width: 'small', text: text } %}
  {% block content %}
    {% block text %}
      {{ text }}
    {% endblock %}
  {% endblock %}
{% endembed %}
