{#
/**
 * @file
 * rich-text
 * with the rich-text we can use to creat different types of text as you can see in storybook.
 * Ex. headlines, list and more.
 * See rich-text.wingsuit.yaml for documentation.
 */
#}
{% set variant = variant|default('default') %}
{# TEMPLATE #}
<div
{{ attributes|default(create_attribute()).addClass(
  [
    'dark:prose-dark prose',
    text_align == 'center' ? 'text-center',
    width == 'small' ? 'max-w-3xl mx-auto': 'max-w-none',
    variant == 'default' ? 'lg:prose-lg',
    variant == 'large' ? 'prose-lg md:prose-2xl'
  ]
) }}
>
  {% block text %}
    {{ text }}
  {% endblock %}
</div>
