<div class="h-screen w-full flex flex-col items-center justify-center bg-teal-300 font-sans">
  <div v-if="modal.visible" @click.self="modal.visible = false" class="h-screen w-full absolute flex items-center justify-center bg-modal">
    <div class="bg-white rounded shadow p-8 m-4 max-w-xs max-h-full text-center overflow-y-scroll">
      <div class="mb-4">
        <p>{{ content }}</p>
      </div>
    </div>
  </div>
</div>
