$display1-size: 4rem;
$display2-size: 3.5rem;

$h1-font-size: 3rem;
$h2-font-size: 2rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1rem;
$h5-font-size: 1rem;
$h6-font-size: 1rem;

$headings-font-family: '';
$font-family-base: '';

$theme-colors: ('primary': '#880000', 'secondary': '#008800');

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
    (
      0: 0,
      1: ($spacer * .25),
      2: ($spacer * .5),
      3: $spacer,
      4: ($spacer * 1.5),
      5: ($spacer * 2.5),
      10: ($spacer * 3),
      16: ($spacer * 4),
      20: ($spacer * 5)
    ),
    $spacers
);
