{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{% if title_suffix is not empty or attributes['data-quickedit-entity-id'] %}
<div{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% endif %}
  {{ content }}
{% if title_suffix is not empty or attributes['data-quickedit-entity-id'] %}
</div>
{% endif %}
