<html>
  <head>
    <title>{{ meta_title }}</title>
    {% for file in css %}
    <link rel="stylesheet" href="/{{ file }}">
    {% endfor %}
  </head>
  <body x-data="{ isScrollDown: false, menuIsOpen: false }">
    {{ content }}

    <script type="text/javascript">
      Drupal = {};
      Drupal.behaviors = {};
    </script>
    {% for file in js %}
      {% if file != 'pages.js' %}
      <script type="text/javascript" src="/{{ file }}"></script>
      {% endif %}
    {% endfor %}
    <script type="text/javascript">
      Object.keys(Drupal.behaviors).forEach((key)=>{
        Drupal.behaviors[key].attach(document);
      });
    </script>
  </body>
</html>
