<html>
  <head>
    <title>{{ meta_title }}</title>
    {% for file in css %}
    <link rel="stylesheet" href="/{{ file }}">
    {% endfor %}
  </head>
  <body x-data="{ isScrollDown: false, menuIsOpen: false, languageSwitcherOpen: false }" x-on:scroll.window="isScrollDown = (window.pageYOffset > 5) ? true : false; ">
    {{ content }}
    {% for file in js %}
      {% if file != 'pages.js' %}
      <script type="text/javascript" src="/{{ file }}"></script>
      {% endif %}
    {% endfor %}
  </body>
</html>
