<nav role="navigation">
  <ul class="nav flex-column">
    {% for item in items %}
      <li class="nav-item">
        <a class="nav-link {% if (item.in_active_trail) %}active{% endif %}" href="{{ item.url }}">
          {{ item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>

