<ul class="nav flex-column flex-lg-row">
  {% for item in items %}
    <li class="nav-item">
      {# {% if (item.in_active_trail) %}no-underline {% else %} hover:text-gray-900 hover:text-underline py-2 px-4{% endif %} #}
      <a class="nav-link"
        href="{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
</ul>

