@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: "WingsuitBaseFont";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/RopaSans-Regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/RopaSans-Regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.ws-doc-rich-text {
    @apply ws-font-doc;
}

.ws-doc-h1 {
    @apply ws-text-xxl;
    @apply ws-pt-12;
    @apply ws-font-doc;
}

.ws-doc-h2 {
    @apply ws-text-xl;
    @apply ws-pt-10;
    @apply ws-pb-2;
    @apply ws-font-doc;
}

.ws-doc-h3 {
    @apply  ws-text-lg;
    @apply ws-pt-10;
    @apply ws-pb-2;
    @apply ws-font-doc;
}

.ws-doc-container {
    max-width: 1280px;
    @apply ws-mx-auto ws-px-4;
}

.ws-doc-seperator {
   @apply ws-border-t;
}

.ws-doc-table {
    @apply ws-w-full ws-text-left
}
.ws-doc-table th {
    @apply ws-text-xs ws-font-semibold ws-text-gray-700 ws-p-2 ws-bg-gray-100
}
.ws-doc-table td {
    @apply ws-p-2 ws-border-t ws-border-gray-300;
}

html, body {
    height: 100%;
}
body {
    @apply ws-flex;
    @apply ws-flex-col;
}
.ws-container {
    margin: auto;
}

.ws-code pre {
    background-color: transparent !important;
    padding: 0;
    margin: 0;
}