.sliding-popup {
  @apply fixed;
  @apply inset-y-0;
  @apply w-full;
  @apply bg-black;
  @apply h-screen !important;
  @apply text-left;
  @apply left-1/2;
  @apply p-0;
  @apply m-0;
  @apply top-1/2;
  @apply transform;
  @apply -translate-x-1/2;
  @apply -translate-y-1/2;
  @apply bg-opacity-50;
  @apply opacity-100;
  @apply !z-50;
}
