<h2>Notice</h2>
{% include '@molecules/alert/_alert.twig' %}
<h2>Warning</h2>
{% include '@molecules/alert/_alert.twig' with {variant: 'warning'} %}
<h2>Error</h2>
{% include '@molecules/alert/_alert.twig' with {variant: 'error'} %}
