
<div class="pl-container mx-auto">
  <div class="pl-mb">
  <h1 class="pl-h1">{{ title }}</h1>
  {% if intro is not empty or doc_link is not empty %}
    <div>

      {% if intro is not null %}
        <p>{{ intro }}</p>
      {% endif %}
      {% if doc_link is not empty %}
        <p>For more information see: <a class="pl-link" href="{{ doc_link }}" target="_blank" rel="noopener noreferrer">Tailwind
            Documentation</a></p>
      {% endif %}
    </div>

  {% endif %}
  </div>
  <div>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>


