  {% set image %}
  {% include '@atoms/image/_image.twig' with {
    placeholder: true,
    style: 'xsmall_16x9_scale_and_crop',
  } %}
  {% endset %}

  {% set card_default = card_default|merge({'image': image}) %}
  {% set card_center = card_center|merge({'image': image}) %}

  <h2 class="pl-h2">Default Card</h2>
  {% include '@molecules/card/_card.twig' with  card_default  only %}
  <hr>

  <h2 class="pl-h2">Center Card</h2>
  {% include '@molecules/card/_card.twig' with  card_center  only %}
  <hr>
