.splide {
  .splide__pagination {
    @apply cursor-pointer;
    @apply flex;
    @apply h-0.5;
    @apply w-2/3;
    @apply mx-auto;
    @apply mt-4;
  }

  .splide__pagination li:only-child {
    @apply hidden;
  }

  .splide__pagination > li {
    @apply flex-1;
    @apply h-full;

    .is-active {
      @apply bg-gray-400;
      @apply rounded-sm;
    }

    button {
      @apply bg-gray-50;
      @apply block;
      @apply w-full;
      @apply h-full;

      &:focus {
         @apply outline-none;
       }
    }
  }

  &.splide__pagination__spacing-default .splide__pagination {
     @apply mt-8;
     @apply md:mt-12;
  }
}

.splide[data-autoplay="1"] {
  .splide__pagination {
    @apply w-auto;
    @apply justify-center;
  }
  .splide__pagination > li {
    @apply flex-none;

  button {
    @apply rounded;
    @apply mr-1.5;
    @apply w-5;
  }

  &:last-child button {
     @apply mr-0;
   }

  .is-active {
    @apply w-10;
  }
 }
}

.dark {
  .splide__pagination > li {
    button {
      @apply bg-gray-400;
    }

    .is-active {
      @apply bg-white;
    }
  }
}
