<footer class="body-font mt-5">
  {% embed "@organisms/container/container.twig" %}
    {% block content %}
      <div class="d-block d-lg-flex py-20">
        <div class="flex-shrink-0 mx-md-0 mx-auto text-center mb-4">
          {% include "@atoms/logo/logo.twig" only %}
          <p class="mt-2 text-sm text-gray-500">Air plant banjo lyft occupy retro adaptogen indego</p>
        </div>
        <div class="w-100 d-flex justify-content-around flex-column flex-md-row">
          <div class="flex-1 text-center mb-4">
            <h5 class="mb-1">Links</h5>
            {{ menu_1 }}
          </div>
          <div class="flex-1 text-center mb-4">
            <h5 class="mb-1">Legal</h5>
            {{ menu_2 }}
          </div>
          <div class="flex-2 text-center mb-4">
            <h5 class="mb-1">Social</h5>
            {{ menu_3 }}
          </div>
          <div class="flex-1 text-center mb-4">
            <h5 class="mb-1">Company</h5>
            {{ menu_4 }}
          </div>
        </div>
      </div>
    {% endblock %}
  {% endembed %}
  </div>
  <div class="bg-light">
    <div class="container py-4 px-5 d-flex flex-wrap flex-column flex-sm-row">
      <p class="text-gray-500 text-sm text-center text-lg-left">© 2020 tailblocks —
        <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@Wingsuit</a>
      </p>
      <span class="d-inline-flex ml-sm-auto mt-sm-0 mt-2 justify-content-center justify-content-sm-start">
        <a class="text-gray-500">
          {% include "@atoms/svg/_svg--icon.twig" with {
            icon: "facebook",
            size: 'w-5 h-5',
          } only %}
        </a>
        <a class="ml-3 text-gray-500">
          {% include "@atoms/svg/_svg--icon.twig" with {
            icon: "instagram",
            size: 'w-5 h-5',
          } only %}
        </a>
        <a class="ml-3 text-gray-500">
          {% include "@atoms/svg/_svg--icon.twig" with {
            icon: "twitter",
            size: 'w-5 h-5',
          } only %}
        </a>
        <a class="ml-3 text-gray-500">
          {% include "@atoms/svg/_svg--icon.twig" with {
            icon: "linkedin",
            size: 'w-5 h-5',
          } only %}
        </a>
      </span>
    </div>
  </div>
</footer>
