{% set video = pattern('video', {'src': 'layout-builder.mp4'}) %}
{#
/**
 * @file
 * Grid component
 *
 * See component.wingsuit.yml for usage.
 */
#}

{% set body %}
  {% set media = pattern('image', {'url': 'ws-assets://images/kickstarter.png'}, 'image') %}
  {% set button = '<div class="text-center">' ~ pattern('button', {'target': '_blank', 'size': 'large', 'round': true,'text': 'Online demo', 'url': 'http://demo.wingsuit.dev.key-tec.de/user/login'}, 'default') ~ '</div>' %}

  {{ pattern('rich_text', {text: '<h1>Drupal Kickstarter</h1>' ~ media ~ button ~  content}, 'default') }}

  {% if next|length > 0 %}
    <div class="pt-6 md:pt-14">
      <div class="p-2 my-2.5 uppercase font-bold">NEXT</div>
      {% for item in next %}
        {{ pattern('next', {
          title: item.title,
          text: item.text,
          button: pattern('button',{
            text: item.link_title,
            round: true,
            size: 'medium',
            url: item.href,
          }, 'default')
        }) }}
      {% endfor %}
    </div>
  {% endif %}
{% endset %}


{% include "@templates/site-container.twig" with {
  menu: pattern_preview('menu', {}, 'primary'),
  footer_menu: null,
  show_hamburger: true,
  content: body,
  display_menu: true
} %}

