{#
/**
 * @file
 * container
 *
 * See container.wingsuit.yaml for documentation.
 */
#}

{# Defaults #}
{% set width = width|default('default') %}
{% set padding_x = width != 'full' ? padding_x|default('default') : '' %}
{% set padding_bottom = padding_bottom|default('default') %}

{# SETTINGS #}
{% set bg_classes = ([
  'relative',
  pattern_configuration('container', '', 'bg')[bg]
] | sort | join(' ') | trim )%}

{% set classes = ([
  is_layout_builder == false ? pattern_configuration('container', '', 'margin_top')[margin_top],
  pattern_configuration('container', '', 'padding_x')[padding_x],
  pattern_configuration('container', '', 'padding_top')[padding_top],
  pattern_configuration('container', '', 'padding_bottom')[padding_bottom],
  pattern_configuration('container', '', 'width')[width],
  classes,
  'mx-auto'
] | sort | join(' ') | trim )%}

{% set attributes = attributes|default(create_attribute()) %}

{# TEMPLATE #}
{% if bg or bg_image or is_relative%}
<div {{ create_attribute().addClass(bg_classes) }}>
  {{ bg_image }}
  {% endif %}
  <div {{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
  {% if bg or bg_image or is_relative%}
</div>
{% endif %}
