{#
/**
 * @file
 * container
 *
 * See container.wingsuit.yaml for documentation.
 */
#}

{# Defaults #}
{% set width = width|default('default') %}

{#
  Padding x defaults:
  The container x padding is allways "default" for all widhts.
  Only width "full" removes the padding_x completly.
#}
{% set padding_x = width != 'full' ? padding_x|default('default') : '' %}

{#
  Padding top/bottom defaults:
  Very basic logic for vertical spacing. Each "auto" container has a default spacing to bottom.
  If a background color is adjusted a "default" padding to top is adjusted.
  The user can allways overwrite the this behavior.
#}
{% set padding_top = padding_top|default('auto') == 'auto' and bg is not empty ? 'default' : padding_top %}
{% set padding_bottom = padding_bottom|default('auto') == 'auto' ? 'default' : padding_bottom %}

{# Settings #}
{% set bg_classes = ([
  'relative',
  pattern_configuration('container', '', 'bg')[bg]
] | sort | join(' ') | trim )%}

{% set classes = ([
  is_layout_builder == false ? pattern_configuration('tokens_spacing', '', 'margin_top')[margin_top],
  pattern_configuration('tokens_spacing', '', 'padding_x')[padding_x],
  pattern_configuration('tokens_spacing', '', 'padding_top')[padding_top],
  pattern_configuration('tokens_spacing', '', 'padding_bottom')[padding_bottom],
  pattern_configuration('tokens_spacing', '', 'width')[width],
  classes,
  'mx-auto w-full'
] | sort | join(' ') | trim )%}

{% set attributes = attributes|default(create_attribute()) %}

{# TEMPLATE #}
{% if bg or bg_image or is_relative%}
<div {{ create_attribute().addClass(bg_classes) }}>
  {{ bg_image }}
  {% endif %}
  <div {{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
  {% if bg or bg_image or is_relative%}
</div>
{% endif %}
