{#
/**
 * @file
 * button
 *
 * See button.wingsuit.yaml for documentation.
 */
#}

<div>
  <h1>button</h1>
  <div>Wingsuit component!</div>
  <div>Field variable: <code>{{ field_1 }}</code></div>
  <div>Setting variable: <code>{{ setting_1 }}</code></div>
</div>
