{#
/**
 * @file
 * button-group
 *
 * See button-group.wingsuit.yaml for documentation.
 */
#}

{#
  Defaults
#}

{% set attributes = attributes|default(create_attribute()) %}
{% set align = align|default('center') %}

{#
  Classes
#}

{% set attributes = attributes.addClass([
    pattern_configuration('button_group', null, 'default')['classes'],
    pattern_configuration('button_group', null, 'align')[align]['direction']
  ])
%}

{#
  Template
#}
<div {{ attributes }}>
  {{ buttons }}
</div>
