<div class="wsc-component">
  <div>
    DEMO Source Wingsuit story
  </div>
  <div>Settings:
  <div>setting_textfield: {{ textfield }}</div>
  <div>setting_select: {{ setting_select }}</div>
  </div>
</div>
