{# TEMPLATE #}
{% if video is empty and src is not empty %}
  <video controls>
    <source src="{{ file_url('ws-assets://videos/' ~ src ) }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
{% else %}
  {{ video }}
{% endif %}
{% if caption is not empty %}
<div>{{ caption }}</div>
{% endif %}
